  <!DOCTYPE html>
<html>
<head>
    <title>Weather Data</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            background-image: url('/static/background.jpg');
            background-size: cover;
            
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div style="margin-left:20px;margin-top:7px;">
            <span><img src="/static/icone.png" alt="Icon"width="50" height="50"></span>
            <input  type="hidden" name="email" id="email" value="{{ email }}">
            <input  type="hidden" name="iduser" id="iduser" value="{{ iduser }}">
            <input  type="hidden" name="nomuser" id="nomuser" value="{{ nomuser }}">
            <div class="btn-group"style="margin-left: 1200px;">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{nomuser}}
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm">
                <a class="dropdown-item" href="{{ url_for('Home', email=email) }}">Home</a>
                <a class="dropdown-item" href="{{ url_for('favorites', nomuser=nomuser, iduser=iduser, email=email) }}">my favourites</a>
                <a class="dropdown-item" href="logout">Log Out</a>
                </div>
            </div> 
        </div>
    </nav>
    <br/>
    <div class="text-center my-4">
        <h2> History for {{nomuser}}</h2>
      </div>
      {% for city, data_list in city_dict.items() %}
    <div class="alert alert-dark" role="alert"style="max-width: 120px;height: 40px;margin-left:340px">
    {{city}}
    </div>
    <table class="table mx-auto" style="max-width: 800px;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Heure</th>
                <th scope="col">Humidity</th>
                <th scope="col">Precipitation</th>
                <th scope="col">Pression</th>
                <th scope="col">Temperature</th>
                <th scope="col">Temp</th>
            </tr>
        </thead>
        <tbody>
            {% for data in data_list %}
            <tr>
                <td>{{ data.date }}</td>
                <td>{{ data.time }}</td>
                <td>{{ data.humidity }}</td>
                <td>{{ data.precipitation }}</td>
                <td>{{ data.pressure }}</td>
                <td>{{ data.temperature }}</td>
                <td>{{ data.weather }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
{% endfor %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
              <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
              <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
              <script>
        $(document).ready(function(){
          $('.dropdown-toggle').dropdown();
        });
      </script>   
</body>
</html>
